buildchk_win7_x86.log
exe/sted/i386/
exe/sted/objchk_win7_x86/
exe/stehub/i386/
exe/stehub/objchk_win7_x8
inc/._getopt_win.h
inc/._sted_win.h
sys/i386/
sys/objchk_win7_x86/
exe/stehub/objchk_win7_x86/
buildchk_win7_x86.wrn
buildchk_wxp_x86.log
buildchk_wxp_x86.wrn
exe/sted/objchk_wxp_x86/
exe/stehub/objchk_wxp_x86/
sys/objchk_wxp_x86/
*.err
*.log
*.wrn
TAGS
exe/sted/objfre_wxp_x86
exe/stehub/objfre_wxp_x86/
sys/objfre_wxp_x86/objfre_wxp_x86
sys/objfre_wxp_x86/
